/* vietnamese */
@font-face {
  font-family: "Maven Pro";
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/MavenPro-Regular.ttf) format("truetype");
}
/* vietnamese */
@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/MavenPro-Medium.ttf) format("truetype");
}
/* vietnamese */
@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/MavenPro-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/MavenPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/MavenPro-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/MavenPro-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Orbitron-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Orbitron-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Orbitron-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Orbitron-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Orbitron-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Orbitron-Black.ttf) format("truetype");
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Ubuntu-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Ubuntu-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Ubuntu-Regular.ttf) format("truetype");
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Ubuntu-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Ubuntu-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Ubuntu-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Ubuntu-Bold.ttf) format("truetype");
}
